@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

/* home page */
.single-m-logo-container {
  margin-right: -.1rem;
}

.home-page-banner-image-container {
  max-width: 1400px
}

/* about page */
.meet-the-team-m-logo-container {
  margin-bottom: .2rem;
}

.banner-video-aspect-ratio-container {
  position: relative;
  width: 100%;
  /* padding-top: 56.25%;  */
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.banner-vid-with-fade-container {
  padding-top: 56.25%;
}

.banner-vid-with-fade-container-no-logo{
  padding-top: 42.19%;
}

.video-frame-client-span {
  text-shadow: 2px 2px 0 black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.gallery-iframe-height {
  height: 500px;
}

.contact-us-button-logo-container {
  margin-bottom: .2rem;
}

.google-map-container {
  padding-top: 36%;
}

.instagram-widget-iframe {
  width: 100%;
  border: 0;
  overflow: hidden;
}

.mmm-site-button-logo-container {
  margin-bottom: .25rem;
}
/* swiper slide */
.swiper {
  width: 100%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  cursor: pointer;
}

/* submit button animation */
.svg-animate {
  animation: takeoff 1s linear forwards;
  transform-origin: top left;
  transform-style: preserve-3d;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-pagination {
  color: white !important;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes takeoff {
  0% {
    transform: translate(90%, -90%) rotate(0) scale(1);
  }
  40% {
    transform: translate(120%, -120%) rotate(-180deg) scale(1.5);
  }
  70% {
    transform: translate(120%, -120%) rotate(-360deg) scale(1.25);
  }
  99% {
    transform: translate(400%, -420%) rotate(-370deg) scale(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes success-submit {
  to {
    background: #038503;
    color: white;
  }
}

a.cky-banner-element {
  padding: 8px 30px;
  background: black;
  color: white;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}
